In [1]:
# Dependencies 
import pandas as pd

In [3]:
phdata = 'resources/pharmacydata.csv'
hdata = 'resources/heathdata.csv'
countypop = 'resources/countypopulation.csv'

In [12]:
phdf = pd.read_csv(phdata)
phdf = phdf.rename(columns={"STATE": "STATE ABV",
                            "STATE NAME": "STATE"})
phdf.head()

         CITY STATE ABV       STATE         ZIP   COUNTY
0      AURORA        CO    Colorado       80045    ADAMS
1    HASTINGS        NE    Nebraska       68901    ADAMS
2  MIDDLEBURY        VT     Vermont  05753-4444  ADDISON
3     HAYWARD        CA  California       94545  ALAMEDA
4     HAYWARD        CA  California       94545  ALAMEDA

In [13]:
hdf = pd.read_csv(hdata)
hdf = hdf.loc[:, ["CHSI_County_Name", "CHSI_State_Name", "ALE"]]
dataset = hdf.rename(columns={"CHSI_County_Name": "COUNTY",
                              "CHSI_State_Name": "STATE",
                              "ALE": "AVERAGE LIFE EXPECTANCY"})
dataset.head()

    COUNTY    STATE  AVERAGE LIFE EXPECTANCY
0  Autauga  Alabama                     74.9
1  Baldwin  Alabama                     76.6
2  Barbour  Alabama                     74.5
3     Bibb  Alabama                     73.2
4   Blount  Alabama                     76.1