In [8]:
import pandas as pd
import matplotlib as plt
import requests
import json
import os
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [11]:
data = 'finaltable.csv'
df = pd.read_csv(data)

In [14]:
df.head()

,Unnamed: 0,STATE,COUNTY,# PHARMACIES,POPULATION,AVERAGE LIFE EXPECTANCY,PHARM CONCENTRATION (pop),CLASSIFICATION,LAND AREA (mi^2),PHARM CONCENTRATION (land),LAT,LNG
0,0,Texas,ANDERSON,12,57741,72.0,0.207825,Urban,1062.6,0.112931,34.552833,-82.648344
1,1,Texas,ANDREWS,5,17722,75.5,0.282135,Urban Cluster,1500.7,0.033318,32.342627,-102.713512
2,2,Texas,ANGELINA,27,87805,75.0,0.307500,Urban,797.8,0.338431,31.270470,-94.645035
3,3,Texas,ARANSAS,6,25572,75.2,0.234632,Urban Cluster,252.1,0.238001,28.076126,-96.963862
4,4,Texas,ARCHER,1,8809,75.8,0.113520,Urban Cluster,903.1,0.011073,33.576151,-98.748117

In [26]:
df['intercept'] = 1
X = df[['intercept', 'POPULATION', 'LAND AREA (mi^2)', '# PHARMACIES']]
y = df['AVERAGE LIFE EXPECTANCY']

smresults = sm.OLS(y, X).fit()
df['pred'] = smresults.predict()

print(smresults.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     AVERAGE LIFE EXPECTANCY   R-squared:                       0.138
Model:                                 OLS   Adj. R-squared:                  0.128
Method:                      Least Squares   F-statistic:                     13.38
Date:                     Tue, 12 Mar 2019   Prob (F-statistic):           3.96e-08
Time:                             21:08:40   Log-Likelihood:                -422.40
No. Observations:                      254   AIC:                             852.8
Df Residuals:                          250   BIC:                             866.9
Df Model:                                3
Covariance Type:                 nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
intercept           75.4629      0.151    498.345      0.000      75.165      75.761
POPULATION        6.924e-06   1.75e-06      3.954      0.000    3.48e-06    1.04e-05
LAND AREA (mi^2)     0.0005      0.000      4.386      0.000       0.000       0.001
# PHARMACIES        -0.0226      0.006     -3.695      0.000      -0.035      -0.011
==============================================================================
Omnibus:                        2.618   Durbin-Watson:                   1.861
Prob(Omnibus):                  0.270   Jarque-Bera (JB):                2.585
Skew:                           0.087   Prob(JB):                        0.275
Kurtosis:                       3.462   Cond. No.                     7.81e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.81e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

     intercept  POPULATION  LAND AREA (mi^2)  # PHARMACIES
0            1       57741            1062.6            12
1            1       17722            1500.7             5
2            1       87805             797.8            27
3            1       25572             252.1             6
4            1        8809             903.1             1
5            1        1879             909.1             1
6            1       48981            1219.5            13
7            1       29786             646.5             9
8            1        7077             826.8             3
9            1       22351             791.0             3
10           1       84761             888.2            15
11           1        3581             867.5             3
12           1       32563             880.2             8
13           1      347833            1051.0            59
14           1     1958578            1239.8           471
15           1       11626             709.3             3
16           1         673             897.4             0
17           1       18326             983.0             6
18           1       94012             885.0            36
19           1      362457            1357.7           103
20           1      222830             585.5            55
21           1        9337            6183.7             5
22           1        1528             900.0             0
23           1        7235             943.4             3
24           1       38053             944.4            15
25           1       18011             659.0             4
26           1       46804             994.3            14
27           1       42338             545.3            10
28           1       21744             506.8             6
29           1       13946             899.4             2
..         ...         ...               ...           ...
224          1       32904             406.1            10
225          1      118019            1522.0            30
226          1     1226698             990.2           292
227          1       14667             693.6             3
228          1       21539             924.5             5
229          1       41281             583.0             2
230          1        3663            1241.3             4
231          1       27132            1552.0             7
232          1       49205            3144.8             6
233          1       55182             842.6            11
234          1       92084             882.1            30
235          1       72245             784.2            16
236          1       51307             513.4             8
237          1       11472             835.6             3
238          1       35043             604.0            11
239          1      274794            3361.5            45
240          1       41968            1086.2            12
241          1        5358             914.5             4
242          1      132000             627.8            44
243          1       12764             970.8             7
244          1       21584             590.6             4
245          1      547545            1118.3           116
246          1       49304             803.7            11
247          1        7574             841.1             3
248          1       66181             904.4            11
249          1       44314             645.2            11
250          1        8568             799.7             4
251          1       17979             914.5             7
252          1       14322             998.4             3
253          1       11948            1297.4             3

[254 rows x 4 columns]